# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
MovingCam.pro.user.2bdece6
MovingCam.pro.user
Makefile
Makefile.Debug
Makefile.Release
debug/moc_mainwindow.cpp
debug/moc_predefs.h
debug/MovingCam.pdb
debug/MovingCam.vc.pdb
ui_mainwindow.h
.qmake.stash
debug/MovingCam.ilk
debug/MovingCam.ilk
*.ilk
debug/hwFirmware/current_firmware.hex
debug/MovingCam.exe
release/MovingCam.exe
debug/moc_manualcameracontrol.cpp
