# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
MovingCam.pro.user.2bdece6
MovingCam.pro.user
Makefile
Makefile.Debug
Makefile.Release
debug/moc_mainwindow.cpp
debug/moc_predefs.h
debug/MovingCam.pdb
debug/MovingCam.vc.pdb
ui_mainwindow.h
.qmake.stash
debug/MovingCam.ilk
debug/MovingCam.ilk
*.ilk
debug/hwFirmware/current_firmware.hex
debug/MovingCam.exe
release/MovingCam.exe
debug/moc_manualcameracontrol.cpp
opencv/
debug/moc_robot.cpp
debug/moc_imageanalyzer.cpp
debug/moc_cameracontrol.cpp
debug/moc_cameraschemewidget.cpp
debug/moc_camerawidget.cpp
debug/moc_comport.cpp
debug/moc_resultsaver.cpp
imageAnalyzer/debug/imageAnalyzer.exp
imageAnalyzer/debug/imageAnalyzer.pdb
imageAnalyzer/debug/imageAnalyzer.vc.pdb
imageAnalyzer/debug/moc_imageanalyzer.cpp
imageAnalyzer/debug/moc_predefs.h
imageAnalyzer/imageAnalyzer.pro.user
imageanalyzer2.cpp
imageanalyzer2.h
imageAnalyzer/release/imageAnalyzer.exp
imageAnalyzer/release/moc_imageanalyzer.cpp
imageAnalyzer/release/moc_predefs.h
release/moc_cameracontrol.cpp
release/moc_cameraschemewidget.cpp
release/moc_camerawidget.cpp
release/moc_comport.cpp
release/moc_mainwindow.cpp
release/moc_predefs.h
release/moc_resultsaver.cpp
release/moc_robot.cpp
release/Artemetr_resource.res
release/Artemetr.exe
MovingCam_resource.rc
Artemetr_resource.rc
Artemetr.pro.user
debug/Artemetr.exe
debug/Artemetr.pdb
debug/Artemetr.vc.pdb
debug/Artemetr_resource.res
log.txt
debug/moc_manualcontrolwidget.cpp
release/moc_manualcontrolwidget.cpp
debug/moc_settings.cpp
