MovingCam.pro.user.2bdece6
MovingCam.pro.user
Makefile
Makefile.Debug
Makefile.Release
ui_mainwindow.h
.qmake.stash
opencv/
imageAnalyzer/debug/
imageAnalyzer/imageAnalyzer.pro.user
imageanalyzer2.cpp
imageanalyzer2.h
imageAnalyzer/release/
release/
MovingCam_resource.rc
Artemetr_resource.rc
Artemetr.pro.user
debug/
log.txt
