presenceWhiteThreshold=110
presenceDarkPatr=0.12

qmagicFactor1=55
qmagicFactor2=41


[crayfish]
fillPercent=55
maxAspectRatio=1.5

minContourArea=86
maxContourArea=350

minRectArea=200
maxRectArea=1370


[eggs]
fillPercent=3
maxAspectRatio=3

minContourArea=1
maxContourArea=1

minRectArea=0
maxRectArea=10000